/* CSS Document */

@import "http://webfonts.ru/import/ptsans.css";
@import "http://webfonts.ru/import/clearsans.css";

*{
	margin:0;
	padding:0;
	border:0;
}
html,body{
/*    overflow-y:scroll;
    overflow-y:visible;*/
	width:100%;
	height:100%;
        
}
* html #container{
	height:100%;
}
body{
	background:#fff;
    font-family: 'Clear Sans';
	color: #474646;
}


H1,H2,H3,H4,H5,H6{
	font-family: 'Clear Sans';
	color:#ef3123;
}

a:link {
color: #ef3123;
text-decoration: none;
}

a:visited {
color: #ef3123;
text-decoration: none;
}

a:hover {
color: #ef3123;
text-decoration: underline;
}

.red {
    color:#e42f28;
}

.red_b {
	font-weight: 700;
    color:#e42f28;
}

.black_b {
    font-weight: 700;
	}

.black_21_b {
    font-weight: 700;
	font-size: 21px;
}


.wrap {
    min-height: 100%;
    [rel="main"] {
    padding-bottom: 100px;
    }
}

.menu_bg {
	height: 62px;
	margin: 0 auto;
	background: #fff;
	text-align: center;
	color: #464646;
	border-top: #e42f28 4px solid;
}


.mainmenu {
    position: relative;
    overflow:hidden;
    height:62px;
    margin: 20px 0 0 0;
}
.mainmenu ul {
    list-style:none;
	padding:0;
    position: relative;
    left:50%;
    float:left;
    height:62px;
}
.mainmenu ul li {
    position:relative;
    left:-50%;
    float:left;
    height:24px;
	border-left: 1px solid #dbdfe7;
	}

.mainmenu ul li:first-child {
    border-left: none; 
}

.mainmenu ul li a {
    display:block;
	color: #474646;
    text-decoration:none;
    padding:0px 30px;
	height:38px;
}
.mainmenu ul li a:hover {
    color:#e42f28;
	border-bottom: 4px solid #e42f28;
}









.header {
	height: 133px;
	margin: 0 auto;
	background: #f1f2f3 url(../img/logo.png) center center no-repeat;
	text-align: center;
	line-height: 133px;
	}

.user_bg {
	height: 40px;
	background: #fff;	
}

.user {
	width: 960px;
	margin: 17px auto;
	background: #fff;	
}

.lang {
	float: left;
	height: 40px;
	margin-left: 57px;
	color: #e42f28;
}

.lang:after {
    content:"";
    float:right;
    border: 5px solid;
    border-color: #c4c8d0 transparent transparent transparent;
	margin:10px 0 0 8px;
}

/*
.lang:hover:after {
    content:"";
    float:right;
    border: 5px solid;
    border-color: #e42f28 transparent transparent transparent;
	margin:10px 0 0 8px;
}
*/

a.partner {
	float: left;
	height: 22px;
	margin-left: 57px;
	color: #474646;
}

a.partner:hover {
	color: #e42f28;
	text-decoration: none;
	}


.partner:before {
    content:"";
    float:left;
    width:32px;
    height:17px;
    margin:5px 14px 0 0;
    background: url("../img/sprite.png") 0 0px;
}

/*.partner:hover:before {
	background-position:0px -22px;
}
*/








a.kabinet {
	float: left;
	height: 22px;
	margin-left: 57px;
	color: #474646;
}

/*
a.kabinet:hover {
	color: #e42f28;
	text-decoration: none;
	}
*/

.kabinet:before {
    content:"";
    float:left;
    width:16px;
    height:17px;
    margin:5px 14px 0 0;
    background: url("../img/sprite.png") -40px 0px;
}

/*
.kabinet:hover:before {
	background-position: -40px -22px;
}
*/

.kabinet:after {
    content:"";
    float:right;
    border: 5px solid;
    border-color: #c4c8d0 transparent transparent transparent;
	margin:10px 0 0 10px;
}


.kabinet:hover:after {
    border-color: #e42f28 transparent transparent transparent;
}








ul.menu {}

ul.menu li {
  float: left;
  list-style: none;
}

ul.menu li a {  
  display: block;  
  text-decoration: none;
}

ul.menu li a:hover {
	padding-bottom: 10px;	
}

ul.menu:hover:after {
    content:"";
    float:left;
    border: 7px solid;
    border-color: transparent transparent #f1f2f3 transparent;
	margin:18px 0 0 -213px;
}

ul.menu li ul {
	display: none;
	width: 280px;
	margin-top: 32px;
	margin-left: 86px;
  	padding: 0px;
}


ul.menu li:hover ul {
  display: block;
  position: absolute;
}

ul.menu li:hover ul li {
  float: none;
}

ul.menu ul li  {
	background: #f1f2f3;
  	padding: 10px 20px 0px;
	border-bottom: #fff 1px solid;
	border-left: #fff 1px solid;
	border-right: #fff 1px solid;
}

ul.menu ul li:hover  {
	background: #f6f8f9;
  	padding: 10px 20px 0px;
	border-bottom: #fff 1px solid;
	border-left: #fff 1px solid;
	border-right: #fff 1px solid;
}

ul.menu ul li a {
  color: #474646;
  padding: 10px 20px 0px;
	
}

ul.menu ul li a:hover {
color: #e42f28;
padding: 10px 20px 0px;
	
}

ul.menu li:hover ul li a {
  padding: 0px 0 8px;
	
}







a.cart {
	float: left;
	height: 22px;
	margin-left: 57px;
	color: #474646;
}

a.cart:hover {
	color: #e42f28;
	text-decoration: none;
	}


.cart:before {
    content:"";
    float:left;
    width:21px;
    height:21px;
    margin:1px 14px 0 0;
    background: url("../img/sprite.png") -60px 0px;
}







.banner {
	height: 280px;
	margin: 0 auto;
	margin-bottom: 45px;
	padding-top: 50px;
	background: #f1f2f3 url("../img/banner.jpg") center no-repeat;
	color: #464646;
	}

.banner_name {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	color: #e42f28;
	text-shadow: 1px 1px 1px #fff;
	}



.steps {
	width: 960px;
	font-size: 18px;
	line-height: 24px;
	margin: 25px auto;
	color: #35373b;
	height: 42px;
	white-space:nowrap;
	text-shadow: 1px 1px 1px #fff;
}

.step_1 {
	float: left;
	height: 40px;
	margin-left: 110px;
	}

.step_1:before {
    content:"";
    float:left;
    width:17px;
    height:35px;
    margin:9px 15px 0 0;
    background: url("../img/sprite.png") -90px 0px;
}


.step_2 {
	float: left;
	height: 40px;
	margin-left: 75px;
	}

.step_2:before {
	content:"";
    float:left;
    width:24px;
    height:35px;
    margin:9px 15px 0 0;
    background: url("../img/sprite.png") -110px 0px;
}

.step_3 {
	float: left;
	height: 40px;
	margin-left: 75px;
	}

.step_3:before {
    content:"";
    float:left;
    width:25px;
    height:35px;
    margin:9px 15px 0 0;
    background: url("../img/sprite.png") -140px 0px;
}


.search_bg_alpha {
	width: 840px;
	padding: 11px;
	margin: 35px auto;
	background-color: rgba(255,255,255,.5);
	border-radius: 12px;
	}

.search_bg {
	height: 56px;
	background-color: #fff;
	border: solid 1px #d0d5df;
	border-radius: 9px;
	}


.stock {
	float: left;
	width: 200px;
	height: 56px;
	background-color: #f1f2f3;
	border-radius: 9px 0 0 9px;
	border-left: solid 1px #d0d5df;
	border-right: solid 1px #f1f2f3;
	border-top: solid 1px #d0d5df;
	border-bottom: solid 1px #d0d5df;
	}

.stock:before {
    content:"";
    float:left;
    width:123px;
    height:18px;
    margin:19px 0px 0 30px;
    background: url("../img/sprite.png") -200px 0px;
}

.stock:after {
    content:"";
    float:left;
    border: 5px solid;
    border-color: #c4c8d0 transparent transparent transparent;
	margin:27px 0 0 10px;
}





.form-wrapper {
	margin: 3px;
}
    
    .form-wrapper input {
        width: 530px;
        padding: 13px 27px;
        float: left;    
        font: 18px 'clear sans';
		color: #c6cad3;
        border: 0;
        }
    
    .form-wrapper input:focus {
        outline: 0;
        color: #35373b;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        
    }    
    
    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 50px;
        width: 50px;
        color: #fff;
        text-transform: uppercase;
        background: #e42f28;
        border-radius: 7px;
		transition: 0.2s;
        }   

.form-wrapper button:before {
    content:"";
    float:left;
    width:27px;
    height:25px;
    margin:0px 0px 0 12px;
    background: url("../img/sprite.png") -170px 0px;
}


      
    .form-wrapper button:hover{		
        background: #f83831;
    }	
      
.form-wrapper button:before:hover {
    content:"";
    float:left;
    width:27px;
    height:25px;
    margin:0px 0px 0 12px;
    background: url("../img/sprite.png") -170px 0px;
}


    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #b51b15;    
    }
    
 .form-wrapper button:before:active,
    .form-wrapper button:before:focus {
    content:"";
    float:left;
    width:27px;
    height:25px;
    margin:0px 0px 0 12px;
    background: url("../img/sprite.png") -170px 0px;
}     
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }


.news_container {
	width: 900px;
	margin: 0px auto;
	background: #f4f6f7;
	border-radius: 12px;
	padding: 0 30px 30px 30px;
	margin-bottom: 45px;
	text-align: center;
}

.news_date {
	width: 180px;
	height: 35px;
	margin: 0px auto;
	background: #fff;
	border-radius: 0 0 12px 12px;
	text-align: center;
	color: #65686e;
	line-height: 28px;
	margin-bottom: 20px;
        text-transform: lowercase;
	}

.news_name {
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: #ef3123;
}

.news_name_small {
	text-align: center;
	font-size: 18px;
	color: #35373b;
	margin-top: 5px;
}


hr {
    border: none; /* Убираем границу */
    background-color: #fff; /* Цвет линии */
    color: white; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
	margin: 15px 0;
   }

hr.dark4px {
    border: none; /* Убираем границу */
    background-color: #f4f6f7; /* Цвет линии */
    color: #f4f6f7; /* Цвет линии для IE6-7 */
    height: 5px; /* Толщина линии */
	margin: 0px 0;
   }

.news_text {
	text-align: left;
	color: #35373b;
}



a.button {
  display: inline-table;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 9px;
  background: #e42f28;
  box-shadow: 0 -4px #b51b15 inset;
  transition: 0.2s;
} 
a.button:hover { background: #f83831; }
a.button:active {
  background: #b51b15;
  box-shadow: 0 4px #b51b15 inset;
}







.container {
	width: 900px;
	margin: 45px auto;
	background: #f4f6f7;
	border-radius: 12px;
	padding: 30px;
	text-align: center;
}

.container_nm {
	width: 900px;
	margin: 25px auto;
	background: #f4f6f7;
	border-radius: 12px;
	padding: 30px;
	text-align: center;
}

.text_intro {
	width: 900px;
	margin: 45px auto;
	font-size: 18px;
	text-align: center;
}


.content_name {
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: #ef3123;
	margin-bottom: 25px;
}

.page_name {
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: #ef3123;
	margin: 25px 0;
}

.page_name_nm {
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: #ef3123;
	margin: 15px 0;
}

.page_text {
	width: 900px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
}


.white_bg_text {
	width: 900px;
	margin-top: 30px;
	font-size: 18px;
	text-align: center;
	padding: 20px 0;
	background: #fff;
}

.white_bg_container {
	width: 900px;
	font-size: 18px;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 30px;
	background: #fff;
}



table {
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0 10px 0;
}


.table th {
	font-weight: normal;
    color: #474646;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px;
	background: #e7e9ea;
	}

.table td {
	color: #474646;
	border: 1px solid #eaebec;
	padding: 6px 0px;
}

.table tr:hover { 
	background: #f8f8f8;
	}

.col_1_partner {
	width:420px;
	border-right: 1px solid #fff;
}

.col_2_partner {
	width:420px;
	border-right: 1px solid #fff;
}

.col_3_partner {
	width:60px;
}


.col_1_cart {
	width:60px;
	border-right: 1px solid #fff;
}

.col_2_cart {
	width:195px;
	border-right: 1px solid #fff;
}

.col_3_cart {
	width:300px;
	border-right: 1px solid #fff;
}

.col_4_cart {
	width:190px;
	border-right: 1px solid #fff;
}

.col_5_cart {
	width:155px;
}

.col_clear_cart {
	text-align: left;
	height: 50px;
	}

.clear_cart_but {
	text-align: left;
	font-size: 14px;
	}

.clear_cart_but:before {
	content:"";
    float:left;
    width:21px;
    height:21px;
    margin: 1px 9px 0 20px;
    background: url("../img/sprite.png") -370px 0px;
}

.clear_cart_but:hover:before {
	background-position: -370px -22px;	
}

.itogo {
	float: right;
	margin-right: 30px;
	font-weight: bold;
	}

.col_sum_cart {
	font-weight: bold;
	}




.col_1_history {
	width:60px;
	border-right: 1px solid #fff;
}

.col_2_history {
	width:195px;
	border-right: 1px solid #fff;
}

.col_3_history {
	width:125px;
	border-right: 1px solid #fff;
}

.col_4_history {
	width:85px;
	border-right: 1px solid #fff;
}

.col_5_history {
	width:85px;
	border-right: 1px solid #fff;
}

.col_6_history {
	width:185px;
	border-right: 1px solid #fff;
}

.col_7_history {
	width:105px;
	border-right: 1px solid #fff;
}

.col_8_history {
	width:60px;
}




.col_1_pay {
	width:60px;
	border-right: 1px solid #fff;
}

.col_2_pay {
	width:140px;
	border-right: 1px solid #fff;
}

.col_3_pay {
	width:100px;
	border-right: 1px solid #fff;
}

.col_4_pay {
	width:220px;
	border-right: 1px solid #fff;
}

.col_5_pay {
	width:230px;
	border-right: 1px solid #fff;
}

.col_6_pay {
	width:150px;
	border-right: 1px solid #fff;
}








.del_th {
	width:13px;
	height:13px;
	}

.del_th:before {
	content:"";
    float:left;
    width:16px;
    height:17px;
    margin: 6px 0 0 23px;
    background: url("../img/sprite.png") -330px 0px;	
}


.download_th {
	width:16px;
	height:17px;
	}

.download_th:before {
	content:"";
    float:left;
    width:16px;
    height:17px;
    margin: 3px 0 0 22px;
    background: url("../img/sprite.png") -395px 0px;	
}


.pay_th {
	width:35px;
	height:17px;
	}

.pay_th:before {
	content:"";
    float:left;
    width:35px;
    height:17px;
    margin: 3px 0 0 13px;
    background: url("../img/sprite.png") -440px 0px;	
}


.pay_add {
	width:22px;
	height:22px;
	}

.pay_add:before {
	content:"";
    float:left;
    width:22px;
    height:22px;
    margin: 0px 0 0 19px;
    background: url("../img/sprite.png") -480px 0px;	
}

.pay_min {
	width:22px;
	height:22px;
	}

.pay_min:before {
	content:"";
    float:left;
    width:22px;
    height:22px;
    margin: 0px 0 0 19px;
    background: url("../img/sprite.png") -510px 0px;	
}

a.del{
	width:19px;
	height:19px;
	}


a.del:before {
	content:"";
    float:left;
    width:19px;
    height:19px;
    margin: 0 0 0 20px;
    background: url("../img/sprite.png") -350px 0px;
}




.del:hover:before {
	background-position: -350px -22px;	
}




a.download{
	width:22px;
	height:22px;
	}


a.download:before {
	content:"";
    float:left;
    width:22px;
    height:22px;
    margin: 0 0 0 20px;
    background: url("../img/sprite.png") -415px 0px;
}



.download:hover:before {
	background-position: -415px -22px;	
}





















.clearfix:after {
   content: " ";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfloat{
	clear:both;
}

.empty{
	height:57px;
}

.footer {
    height: 57px;
    margin-top: -57px;
}

.bottom_bg {
	height: 57px;
    margin: 0 auto;
    background: #f1f2f3;
    text-align: center;
    line-height: 61px;
    color: #464646;
    border-bottom: #e42f28 4px solid;
}

.obyazat {
	margin: 20px 0 0 265px;
	text-align: left;
	font-size: 18px;
}


.captcha {
  height: 50px;
  margin: 0px 0 0 265px;
  text-align: left;
  font-size: 18px;
}
.captcha img {
  vertical-align: middle; 
}



.restore {
	margin: 20px 0 0 265px;
	text-align: left;
	font-size: 18px;
}

.preview {
	float: left;
	text-align: center;
	height: 320px;
	margin-right: 20px;
	width: 450px;
	}

.small_zoom {
	max-width:120px;
	height: auto;
	margin-top: 5px;
	}

.zoom {
	max-height:320px;
	width: auto;
	}

.pic_size {
	width: 300px;
	float: left;
	text-align: left;
	}




/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Шрифты для формы и общая ширина === */
.contact_form h2, .contact_form label, form textarea {font-family: "Clear Sans", sans-serif;}
.form_hint, .required_notification {font-size: 13px;}

.contact_form {
		width:700px;
	
	}

/* === Ширина формы === */
.contact_form p {
    width:900px;
	margin:11px 10px 7px 10px;
	padding:0px;
	text-align: left;
}

/* === Размер и расположение блоков === */
.contact_form label {
	width:240px;
	font-size: 18px;
	margin: 0px 0px 0 0;
	display:inline-block;
	float:left;
	text-align: right;
	}

.contact_form label.chk {
	width:600px;
	margin-left: 246px;
	margin-bottom: 15px;
	text-align: left;
		}

.contact_form input {
	font-size: 17px;
	color: #474646;
	
}


.contact_form textarea {
	padding:8px; 
	width:470px; 
	font-size: 17px;
	color: #474646;
}

.contact_form button {
	margin-left:165px;
}


	/* Цвета и эффекты */
	.contact_form input, .contact_form textarea { 
		border:1px solid #d0d5df;
		margin: 0px 0px 5px 10px;
		border-radius:5px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}


.contact_form input.img { 
		border:1px solid #d0d5df;
		margin: 0px 0px 5px 10px;
	width: 250px;
	padding:15px 15px;
		border-radius:5px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}



	.contact_form input:focus, .contact_form textarea:focus {
		background: #fff; 
		border:1px solid #fff; 
		box-shadow: 0 0 3px #aaa; 
		}




	
/* === Оформление кнопки === */
button.submit {
	display: inline-table;
  margin-top: 10px;
	margin-left: 255px;
  color: white;
	font-family: 'Clear Sans', sans-serif;
	font-size: 18px;
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 9px;
  background: #e42f28;
  box-shadow: 0 -4px #b51b15 inset;
  transition: 0.2s;
	cursor: pointer;
}
button.submit:hover {
	 background: #f83831;
}

button.submit:active {
	 background: #b51b15;
  box-shadow: 0 4px #b51b15 inset;
}



button.submit_buy {
	display: inline-table;
	margin-top: 10px;
	color: white;
	font-family: 'Clear Sans', sans-serif;
	font-size: 18px;
	text-decoration: none;
	padding: 15px 35px;
	border-radius: 9px;
	background: #e42f28;
	box-shadow: 0 -4px #b51b15 inset;
	transition: 0.2s;
	cursor: pointer;
	}
button.submit_buy:hover {
	 background: #f83831;
}

button.submit_buy:active {
	 background: #b51b15;
  box-shadow: 0 4px #b51b15 inset;
}

button.submit_paysys {
	display: inline-table;
	float: left;
	color: white;
	font-family: 'Clear Sans', sans-serif;
	font-size: 18px;
	text-decoration: none;
	margin-left: 20px;
	padding: 15px 35px;
	border-radius: 9px;
	background: #e42f28;
	box-shadow: 0 -4px #b51b15 inset;
	transition: 0.2s;
	cursor: pointer;
	}
button.submit_paysys:hover {
	 background: #f83831;
}

button.submit_paysys:active {
	 background: #b51b15;
  box-shadow: 0 4px #b51b15 inset;
}




.label-input{
		padding: 13px 0 0 5px;
	}



.label-radio{
	padding: 3px 0 0 5px;
	}


.input-text{
	width: 470px;
	color: #474646;;
    outline:none;
	padding:15px 15px;
	
}

.input-text.img{
	width: 250px;
	color: #165ae4;
    outline:none;
	padding:15px 15px;
	
}


.input-text-pay{
	float: left;
	width: 200px;
	color: #474646;;
    outline:none;
	padding:16px 15px;
	border:1px solid #d0d5df;
	border-radius: 5px;
	font-size: 18px;
}







.paysystem{
	width: 570px;
	height: 70px;
	margin: 0px auto;
	}

.paysystem_logo{
	float: left;
	width: 118px;
	margin-right: 20px;
}



#modal_form {
	width: 770px; 
	height: 400px;
	border-radius: 9px;
	background: #F4F6F7;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -200px;
	margin-left: -385px;
	display: none;
	opacity: 0;
	z-index: 9999;
	padding: 10px 30px;
}

#modal_form #modal_close {
	width: 21px;
	height: 21px;
    background: url(../img/close.png) top no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_form #modal_close:hover {
    background: url(../img/close.png) bottom no-repeat;
}

#overlay {
	z-index: 9998;
	position: fixed;
	background-color: #000;
	opacity: 0.8;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0;
	cursor: pointer;
	display: none;
}


.send-message-action_modal{
	margin-top: 10px;
	}

.send-message-action_modal div{
	display: block;
	margin-top: 14px;
}
#overlay_loader {
	
	position: fixed;
	background-color:  rgba(255,255,255,0.4);/* //пусть пока так хуй сним, потом подумааем*/
	opacity: 1;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0;
	cursor:wait ;
	/*cursor:progress ;*/
	display: none;
}
#loader {
    opacity: 1;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content:"";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content:"";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.copyButton{
    padding: 6px 10px;
    cursor: pointer;
    background-image: linear-gradient(#f8f8f8,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}
.copyButton:active  {
   background: #e7e9ea; 
}
.copyButton img {
   width: 15px;
}
.code td{
    height: 35px;
}